# --- Folder Sistem & Vendor ---
/system/
/vendor/
/node_modules/



# --- Konfigurasi Spesifik (Lokal vs Server) ---
# Di-ignore agar settingan DB server tidak tertimpa saat pull dari lokal
application/config/database.php
application/config/config.php
application/config/routes.php
application/config/database.php

.htaccess

# --- File Sampah & Logs ---
application/logs/*
!application/logs/index.html
application/cache/*
!application/cache/index.html

# --- Assets & Uploads ---
# Mengabaikan file yang diupload user/tester agar folder tetap bersih
assets/captcha/*.jpg
assets/berkas_umum/*
assets/berkas_nonlit/*
assets/berkas_laporan_polisi/*
assets/berkas_permasalahan/*
assets/berkas_lampiran/*
assets/upload/*
!assets/index.html

# --- IDE & OS ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
